<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>Rpifo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <link href="images/public/favicon.png" rel="shortcut icon" type="image/x-icon">
    <link href="libraries/vendor/vuetify.min.css" rel="stylesheet">
    <link href="libraries/style.css" rel="stylesheet">
</head>

<body>
    <div id="app">
        <v-app>
            <v-main>

                <section v-if="errored">
                    <v-alert color="red" outlined prominent text>
                        Impossible de récupérer les informations !
                    </v-alert>
                </section>

                <div v-else>
                    <v-toolbar class="mb-2" color="#BC1142" dark flat>
                        <v-img class="lg-4 mr-4" max-width="32" src="images/public/logo.svg"></v-img>
                        <v-toolbar-title>
                            Rpifo - {{ content.hote }} <v-chip class="ml-5" color="white" label outlined>Beta</v-chip>
                        </v-toolbar-title>
                    </v-toolbar>

                    <v-container>
                        <!--                         <v-chip label outlined>
                            Mise à jour le {{ new Date().toLocaleString() }}
                        </v-chip>
 -->
                        <v-row gutters>

                            <!-- Informations système  -->
                            <v-col cols="12" md="12" lg="6">
                                <v-card mx="auto">
                                    <v-card-title class="bg-framboise">
                                        <v-img src="images/info.svg" max-width="28" class="mr-6 hidden-sm-and-down">
                                        </v-img> Informations système
                                    </v-card-title>
                                    <v-simple-table>
                                        <template v-slot:default>
                                            <tbody>
                                                <tr v-for="item in content.info" :key="item.title">
                                                    <td>{{ item.title }}</td>
                                                    <td>{{ item.response }}</td>
                                                </tr>
                                            </tbody>
                                        </template>
                                    </v-simple-table>
                                    <!-- <v-divider class="my-4 mx-8"></v-divider> -->

                                    <v-list-item>
                                        <v-list-item-content v-for="item in content.mem" :key="item.total">
                                            <v-list-item-title>
                                                <v-img src="images/temp.svg" max-width="20" class="mr-2 float-left">
                                                </v-img>Température
                                            </v-list-item-title>
                                            <v-card-actions class="justify-center">
                                                <v-progress-circular :rotate="-90" :size="150" :width="30"
                                                    :value="content.temp" color="#75A928">
                                                    <span class="text--primary">{{ content.temp }}°</span>
                                                </v-progress-circular>
                                            </v-card-actions>
                                        </v-list-item-content>
                                    </v-list-item>
                                </v-card>
                            </v-col>


                            <!-- Etat du système  -->
                            <v-col cols="12" md="12" lg="6">
                                <v-card mx="auto">
                                    <v-card-title class="bg-framboise">
                                        <v-img src="images/stat.svg" max-width="28" class="mr-6 hidden-sm-and-down">
                                        </v-img>
                                        Etat du système
                                    </v-card-title>

                                    <v-list-item>
                                        <v-list-item-content v-for="item in content.mem" :key="item.total">
                                            <v-list-item-title>
                                                <v-img src="images/memory.svg" max-width="20" class="mr-2 float-left">
                                                </v-img>Mémoire ({{ item.totalH }})
                                            </v-list-item-title>

                                            <v-progress-linear height="25"
                                                :value="parseFloat(item.use/item.total*100).toFixed(2)"
                                                class="rounded-r-xl" color="#75A928">
                                                {{ item.useH + ' (' + parseFloat(item.use/item.total*100).toFixed(1) + '%)' }}
                                            </v-progress-linear>
                                        </v-list-item-content>
                                    </v-list-item>
                                    <v-list-item>
                                        <v-list-item-content v-for="item in content.swap" :key="item.total">
                                            <v-list-item-title>
                                                <v-img src="images/swap.svg" max-width="20" class="mr-2 float-left">
                                                </v-img>Swap ({{ item.totalH }})
                                            </v-list-item-title>

                                            <v-progress-linear height="25"
                                                :value="parseFloat(item.use/item.total*100).toFixed(2)"
                                                class="rounded-r-xl" color="#75A928">
                                                {{ item.useH + ' (' + parseFloat(item.use/item.total*100).toFixed(1) + '%)' }}
                                            </v-progress-linear>
                                        </v-list-item-content>
                                    </v-list-item>
                                    <v-list-item>
                                        <v-list-item-content v-for="item in content.sd" :key="item.total">
                                            <v-list-item-title>
                                                <v-img src="images/sd.svg" max-width="20" class="mr-2 float-left">
                                                </v-img>Disque ({{ item.totalH }})
                                            </v-list-item-title>

                                            <v-progress-linear height="25"
                                                :value="parseFloat(item.use/item.total*100).toFixed(2)"
                                                class="rounded-r-xl" color="#75A928">
                                                {{ item.useH + ' (' + parseFloat(item.use/item.total*100).toFixed(1) + '%)' }}
                                            </v-progress-linear>
                                        </v-list-item-content>
                                    </v-list-item>

                                    <!-- <v-divider class="my-4 mx-8"></v-divider> -->

                                    <v-list-item>
                                        <v-list-item-content>
                                            <v-list-item-title>
                                                <v-img src="images/cpu.svg" max-width="20" class="mr-2 float-left">
                                                </v-img>
                                                Charge CPU
                                            </v-list-item-title>
                                            <v-card-actions class="justify-center hidden-sm-and-down">
                                                <v-progress-circular class="justify-center" :rotate="-90" :size="120"
                                                    :width="30" v-for="item in content.cpu" :key="item.title"
                                                    :value="item.title/5*100" color="#75A928">
                                                    <span class="text--primary">{{ item.title }}</span>
                                                </v-progress-circular>
                                            </v-card-actions>
                                            <v-card-actions class="justify-center hidden-md-and-up">
                                                <v-progress-circular class="justify-center" :rotate="-90" :size="60"
                                                    :width="8" v-for="item in content.cpu" :key="item.title"
                                                    :value="item.title/5*100" color="#75A928">
                                                    <span class="text--primary">{{ item.title }}</span>
                                                </v-progress-circular>
                                            </v-card-actions>
                                        </v-list-item-content>
                                    </v-list-item>

                                </v-card>
                            </v-col>

                        </v-row>
                    </v-container>
                </div>
            </v-main>

            <v-footer>
                <v-col class="text-center grey--text" cols="12">
                    v{{ version }} ©{{ new Date().getFullYear() }} - <a class="afooter"
                        href="https://github.com/debmus/rpifo-web" target="_blank" rel="noopener noreferrer">Rpifo</a>
                </v-col>
            </v-footer>

        </v-app>
    </div>

    <script src="libraries/vendor/vue.js"></script>
    <script src="libraries/vendor/vuetify.min.js"></script>
    <script src="libraries/vendor/axios.min.js"></script>
    <script src="libraries/app.js"></script>

</body>

</html>