.bg-framboise {
    background-color: #BC1142 !important;
    color: white;
}

.v-progress-circular {
    margin: 1rem;
}

.afooter {
    text-decoration: none;
    color: #75A928 !important;
}

.afooter:hover {
    color: #BC1142 !important;
}